@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.header {
  background-image: linear-gradient(180.00deg, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0) 100%), url('../images/Banner\ Image.png');
  border-radius: 16px;
  background-size: cover;
  width: 1320px;
  height: 600px;
  margin: auto;
  text-align: center;
}

.header-content {
  width: 632px;
  height: 190px;
  margin: 0 auto;
  padding-top: 170px;
}

.header-content h2 {
  color: rgba(255, 255, 255, 1);
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 20px;
}

.header-content h1 {
  color: rgba(255, 255, 255, 1);
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

.bannar-offer {
  margin: 120px 0;
  text-align: center;
}

.bannar-offer h1 {
  color: rgba(255, 0, 0, 1);
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  line-height: 100%;
}

.bannar-offer h3 {
  color: rgba(255, 0, 0, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  margin-top: 48px;
}

.bannar-offer h2 {
  color: rgba(7, 2, 17, 1);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  margin: 16px 0 48px 0;
}