@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.header {
  background-image: linear-gradient(180.00deg, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0) 100%), url('../images/Banner\ Image.png');
  border-radius: 16px;
  background-size: cover;
  width: 1320px;
  height: 600px;
  margin: auto;
  text-align: center;
}

.header-content {
  width: 632px;
  height: 190px;
  margin: 0 auto;
  padding-top: 170px;
}

.header-content h2 {
  color: rgba(255, 255, 255, 1);
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 20px;
}

.header-content h1 {
  color: rgba(255, 255, 255, 1);
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

.bannar-offer {
  margin: 120px 0;
  text-align: center;
}

.bannar-offer h1 {
  color: rgba(255, 0, 0, 1);
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  line-height: 100%;
}

.bannar-offer h3 {
  color: rgba(255, 0, 0, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  margin-top: 48px;
}

.bannar-offer h2 {
  color: rgba(7, 2, 17, 1);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  margin: 16px 0 48px 0;
}

.party-bannar {
  background-image: linear-gradient(90.00deg, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0) 100%), url('../images/Vectorrr.png');
  border-radius: 16px;
  background-size: cover;
  width: 1320px;
  height: 600px;
  margin: 0 auto 120px;
}

.party-bannar-content {
  width: 632px;
  height: 190px;
  margin-left: 140px;
  padding-top: 125px;
}

.party-bannar-content h1 {
  color: rgba(255, 255, 255, 1);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  text-align: left;
}

.party-bannar-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin: 25px 0 50px;
}

.party-bannar-content a {
  padding: 15px;
  background: black;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.join-now {
  width: 1320px;
  height: 482px;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 auto 120px;
  border-radius: 16px;
  background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);

}

.join-now span {
  color: red;
  margin-right: 10px;
}

.join-now a {
  background: rgba(255, 0, 0, 1);
  border-radius: 8px;
  padding: 16px 32px 16px 32px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  margin-top: 48px;
}

.coming-soon {
  width: 1320px;
  height: 482px;
  margin: 0 auto 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.coming-soon-1 {
  width: 37%;
  padding-right: 35px;
}

.coming-soon-1 h2 {
  color: rgba(255, 0, 0, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.coming-soon-1 h1 {
  color: rgba(7, 2, 17, 1);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin: 16px 0 22px;
}

.coming-soon-1 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.coming-soon-2 {
  width: 40%;
  text-align: center;
}

.coming-soon-2 img {
  padding: 25px;
  border: 15px solid rgba(255, 0, 0, 1);
  border-radius: 50%;
}

.coming-soon-3 {
  width: 30%;
  padding-left: 120px;
}

.coming-soon-3 h1 {
  color: rgba(255, 0, 0, 1);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.coming-soon-3 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.coming-soon-3 img {
  margin-top: 43px;
}

.holiday-sale {
  width: 1320px;
  height: 920px;
  text-align: center;
  margin: 0 auto 120px;
  background-image: url("../images/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.holiday-sale h2 {
  color: rgba(7, 2, 17, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.holiday-sale h1 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 950;
  line-height: 100%;
  margin: 30px 0;
}

.holiday-sale span {
  color: #FF0000;
}

.holiday-sale p {
  width: 868px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  margin: auto;
}

.holiday-sale-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.holiday-sale-img-1 {
  width: 40%;
}